---
layout: skeleton
---
<style>
  .bg-hero {
    background: url('{{site.baseurl}}/images/hero-banner-supplyally.png') no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #EBF3F3;
  }
  
  .bp-hero h1 {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 1.3em;
    color: #3F3D56;
  }
  
  .bp-hero p {
    color: #3F3D56;
  }
  
  .bp-hero-body {
    background: none;
  }
  
  .bg-hero-bottom {
    background: {{site.colors.secondary-color}}
  }
  
  .helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }
  
  .isomer-agency-logo {
    vertical-align: middle;
    max-height: 125px;
  }
</style>

<section class="bp-hero bg-hero">
  <div class="bp-hero-body">
    <div class="bp-container margin--top--lg">
      <div class="row is-vcentered is-centered ma">
        <div class="col is-9 has-text-centered">
          <h1 class="display padding--bottom--lg margin--none"><b>SupplyAlly helps you track whether a person receiving an item has received it before.</b></h1>
          <p class="padding--bottom--lg">Enabled citizens to access their fair quota of masks, with flexibility to different points and modes of distribution.</p>
          <a href="https://go.gov.sg/SupplyAlly" class="bp-button is-secondary is-uppercase search-button">Download Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-highlights" class="bp-section is-paddingless">
  <div class="bp-container">
    <div class="row is-gapless has-text-centered">
      <div class="col">
        <div class="key-highlights-text">
          <p class="has-text-weight-semibold has-text-white key-highlight-title padding--top--xs">4.2 million</p>
          <p class="has-text-white-trans padding--bottom--sm">Masks distributed</p>
        </div>
      </div>
      <div class="col">
        <div class="key-highlights-text">
          <p class="has-text-weight-semibold has-text-white key-highlight-title padding--top--xs">273</p>
          <p class="has-text-white-trans padding--bottom--sm">Laptops distributed</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
        <p class="padding--bottom eyebrow is-uppercase">
          Partners using SupplyAlly
        </p>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
      <div class="col helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-engineeringgood.png" alt="Engineering Good"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.png" alt="Ministry of Trade and Industry Singapore"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-pa.png" alt="People's Association"/>
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-cdc.png", alt="Community Development Council"/>
      </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-engineeringgood.png" alt="Engineering Good"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-mti.png" alt="Ministry of Trade and Industry Singapore"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-pa.png" alt="People's Association"/>
      </div>
      <div class="col is-one-quarter helper">
        <img class="isomer-agency-logo" src="{{site.baseurl}}/images/logo-cdc.png", alt="Community Development Council"/>
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-newssection">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
        <p class="padding--bottom eyebrow is-uppercase">
          What our partners say
        </p>
        <h1 class="has-text-secondary padding--bottom--xl"><b>&ldquo;Engineering Good is thankful for GovTech's partnership. With SupplyAlly we hope to eliminate duplication in our efforts and optimise the effort of our volunteers and the beneficiary organisations.&rdquo;</b></h1>
        <a href="{{ site.baseurl }}/files/isomer-info-sheet-23-oct-2018.pdf" class="bp-sec-button is-media-card" target="_blank">
          <div>
            <span>Download Info Sheet</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bp-section bg-hero-bottom">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
        <h1 class="padding--bottom"><b>Ready to start?</b></h1>
        <p class="padding--bottom--lg">We will discuss with you on your needs and help you come onboard SupplyAlly</p>
        <a href="/contact-us">
          <div class="bp-button is-white is-outlined is-uppercase search-button">
            Contact Us
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
